body {
	font-family: "Roboto", sans-serif;
	/* width: 1440px;
	margin: 0 auto 0 auto; */
	color: #434455;
}

ul,
h1,
h2,
h3,
h4,
button,
p {
	padding: 0;
	margin: 0;
}

button {
	cursor: pointer;
}

img {
	display: block;
}

.container {
	width: 1158px;
	padding: 0 15px;
	margin: 0 auto;
}

.container-flex {
	display: flex;
	justify-content: space-between;
}

.link {
	text-decoration: none;
}

.list {
	list-style: none;
}

.hidden-title {
	visibility: hidden;
	display: none;
}

.standard-title {
	font-weight: 500;
	font-size: 20px;
	margin-bottom: 8px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2e2f42;
}

.standard-text {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
}



/* header */

.header {
	padding: 24px 0;
	border-bottom: 1px solid #E7E9FC;
}

/* Nav */

.header-nav {
	align-items: center;
}

.title {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #4d5ae5;
	margin-right: 76px;
}

.title>span {
	color: #2e2f42;
}

.header-nav-li:not(:last-child) {
	margin-right: 40px;
}

.header-nav-a {
	position: relative;
	display: inline-block;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #2e2f42;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-a:hover,
.header-nav-a:focus {
	color: #404bbf;
}

.header-nav-visited {
	color: #404bbf;
}

.header-nav-visited::after {
	content: "";
	display: block;
	position: absolute;
	top: 48px;
	transform: translateY(-100%);
	left: 0;
	width: 100%;
	height: 4px;
	border-radius: 2px;
	background-color: #404bbf;
}



/* Address */

.header-info {
	font-style: normal;
	align-items: center;
}


.header-info-li:not(:last-child) {
	margin-right: 40px;
}

.header-info-a {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-info-a:hover,
.header-info-a:focus {
	color: #404bbf;

}



/* Main */

/* Introduction */

.introduction {
	padding: 188px 0;
	width: 1440px;
	margin: 0 auto;
	background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/people-office-1.jpg');
	background-position: center;
	background-size: cover;
}

.introduction-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main-title {
	display: flex;
	margin-bottom: 48px;

	width: 500px;
	font-size: 56px;
	line-height: 1.07;
	text-align: center;
	letter-spacing: 0.02em;
	color: #ffffff;
}

.introduction-button {
	padding: 16px 32px;
	background-color: #4d5ae5;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: none;

	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: #ffffff;
	cursor: pointer;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.introduction-button:hover,
.introduction-button::after {
	background-color: #404BBF;
}

/* Info-text */

.info-text {
	padding: 120px 0 60px 0;
}

.info-text-logo {
	width: 264px;
	padding: 24px 0;
	background: #F4F4FD;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 8px;
}

.info-text-icon {
	width: 64px;
	height: 64px;
}

.info-text-li {
	width: 264px;
}

.info-text-li:not(:last-child) {
	margin-right: 24px;
}

/* Info-pictures */

.info-pictures {
	padding: 60px 0 120px 0;
}

.info-pictures-title {
	margin-bottom: 72px;

	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: #2e2f42;
}

.info-pictures-li:not(:last-child) {
	margin-right: 24px;
}

/* Team */

.team {
	padding: 120px 0 120px 0;
	background-color: #F4F4FD;
}

.team-title {
	margin-bottom: 72px;

	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-align: center;
	text-transform: capitalize;
	color: #2e2f42;
}

.team-li {
	background-color: #ffffff;
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
	border-radius: 0px 0px 4px 4px;
	text-align: center;
}

.team-li:not(:last-child) {
	margin-right: 24px;
}

.team-text {
	margin-bottom: 8px;
}

.team-soc-list {
	display: flex;
	justify-content: center;
	gap: 24px;
}

.team-soc-item {
	width: 40px;
	height: 40px;
}

.team-soc-link {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #4D5AE5;

	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus {
	background-color: #404BBF;
}

.team-soc-icon {
	fill: #ffffff;
	width: 16px;
	height: 16px;
}



.team-container-text {
	padding: 32px 0px;
}


/* customers */

.customers {
	padding: 130px 0 120px 0;
}

.customers-title {
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-align: center;
	text-transform: capitalize;
	color: #2e2f42;

	text-align: center;
	margin-bottom: 72px;
}

.customers-list {
	display: flex;
	justify-content: space-between;
	gap: 24px;
}

.customers-item {
	width: 168px;
}

.customers-logo {
	display: flex;
	width: 100%;
	padding: 16px 0;

	border: 1px solid #9C9DA6;
	border-radius: 4px;
	align-items: center;
	justify-content: center;
	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
	width: 104px;
	height: 56px;
	fill: #8E8F99;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-logo:hover,
.customers-logo:focus {
	border: 1px solid #404BBF;
}

.customers-logo:hover .customers-icon,
.customers-logo:focus .customers-icon {
	fill: #404BBF;
}



/* footer */

.footer {
	background-color: #2e2f42;
	padding: 100px 0;
}

.footer-container {
	display: flex;
}

/* Footer title*/

.footer-container-title {
	margin-right: 120px;
}

.footer-container-text {
	width: 264px;
	margin: 0;
}

.footer-title {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #4d5ae5;
}

.footer-title>span {
	color: #f4f4fd;
}

.footer-text {
	width: 264px;
	color: #E7E9FC;
	margin-top: 16px;
}

/* footer soc */

.footer-container-soc {
	margin-right: auto;
}

.footer-title-soc {
	font-weight: 500;
	font-size: 16px;
	margin-bottom: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #ffffff;
}

.footer-soc-list {
	display: flex;
	justify-content: center;
	gap: 16px;
}

.footer-soc-item {
	width: 40px;
	height: 40px;
}

.footer-soc-link {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #434455;

	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
	background-color: #31D0AA;
}

.footer-soc-icon {
	fill: #ffffff;
	width: 24px;
	height: 24px;
}

.footer-container-subscribe {}

.footer-subscribe-title {
	display: block;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;

	color: #FFFFFF;

	margin-bottom: 16px;
}

.footer-subscribe-input {
	width: 264px;

	background-color: #2E2F42;
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;

	font-weight: 400;
	font-size: 12px;
	line-height: 2;
	letter-spacing: 0.04em;

	color: #ffffff;

	padding: 8px 16px;

	margin-right: 24px;
}

.footer-subscribe-button {
	display: flex;
	padding: 8px 24px;

	background: #4D5AE5;
	border: none;

	align-items: center;
	justify-content: center;
	border-radius: 4px;
}

.footer-subscribe-button-text {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;

	color: #FFFFFF;

	margin-right: 16px;
}

.footer-subscribe-icon {
	width: 24px;
	height: 24px;
	fill: #FFFFFF;
}








/* Backdrop */

.backdrop {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(46, 47, 66, 0.4);
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), pointer-events 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	width: 408px;
	min-height: 576px;
	padding: 24px;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

	background: #FCFCFC;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) scale(0);
}

.modal-container {}

.modal-button {
	display: block;
	margin-left: auto;
	width: 24px;
	height: 24px;
	border-radius: 24px;
	background: #E7E9FC;
	border: 1px solid rgba(0, 0, 0, 0.1);

	display: flex;
	align-items: center;
	justify-content: center;

	margin-bottom: 24px;
}

.modal-icon {
	width: 8px;
	height: 8px;
	fill: #000000;
}

.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.modal-title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	text-align: center;

	margin-bottom: 24px;
}

.modal-registration {}

.modal-registration-container:not(:last-child) {
	margin-bottom: 8px;
}

.modal-registration-container:last-child {
	margin-bottom: 16px;
}

.modal-registration-label {
	position: relative;
}

.modal-registration-text {
	display: block;

	font-weight: 400;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.04em;

	color: #8E8F99;

	margin-bottom: 4px;
}

.modal-registration-icon {
	display: block;
	position: absolute;
	top: 28px;
	left: 16px;

	width: 18px;
	height: 18px;
	fill: #2E2F42;
}

.modal-registration-input {
	width: 100%;

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;

	padding: 8px 16px 8px 38px;

	font-weight: 400;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.04em;
}

.modal-registration-input:focus {
	outline: none;
	border: 1px solid #4D5AE5;
}

.modal-registration-input:focus-within+.modal-registration-icon {
	fill: #4D5AE5;
}

.modal-registration-comment {
	height: 120px;
	width: 100%;

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;

	padding: 8px 16px;

	font-weight: 400;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.04em;
}

.modal-registration-comment:focus {
	outline: none;
	border: 1px solid #4D5AE5;
}

.modal-registration-privacy-container {
	margin-bottom: 24px;
}

.modal-registration-privacy {
	display: flex;
	cursor: pointer;
}

.modal-registration-privacy-input {
	display: none;
	visibility: hidden;
}

.modal-registration-privacy-item {
	display: block;

	width: 16px;
	height: 16px;
	border: 1.25px solid #2E2F42;
	border-radius: 2px;

	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	margin-right: 8px;
}

.modal-registration-privacy-icon {
	visibility: hidden;
	fill: #F4F4FD;
	width: 10px;
	height: 10px;

	transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-registration-privacy-text {
	font-weight: 400;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.04em;

	color: #757575;
}

.modal-registration-privacy-blue {
	color: #4D5AE5;
}

.modal-registration-privacy-input:checked+label .modal-registration-privacy-item {
	background-color: #404BBF;
}

.modal-registration-privacy-input:checked+label .modal-registration-privacy-icon {
	visibility: visible;
}

.modal-registration-button {
	display: block;

	background: #4D5AE5;
	border: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;

	align-items: center;
	justify-content: center;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;

	color: #FFFFFF;


	margin: 0 auto;
	padding: 16px 64px;
}








/* Portfolio */

.partfolio-main {
	padding: 90px 0 120px 0;
}

.button-ul {
	justify-content: center;
}

.container-button {
	margin-bottom: 75px;
}

.portfolio-li:not(:last-child) {
	margin-right: 24px;
}

.portfolio-nav-button {
	padding: 12px 24px;
	background-color: #F4F4FD;
	border: 1px solid #E7E9FC;
	border-radius: 4px;

	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: #4d5ae5;
	cursor: pointer;
	border: none;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-nav-button:hover,
.portfolio-nav-button:focus {
	background-color: #404BBF;
	color: #FFFFFF;
}

/* Pictures */

.portfolio-pictures-li {
	width: 360px;
	border: 1px solid #E7E9FC;
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-pictures-li:hover,
.portfolio-pictures-li:focus {
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-pictures-li:not(:nth-child(3n)) {
	margin-right: 24px;
}

.portfolio-pictures-li:not(:nth-child(n+7)) {
	margin-bottom: 48px;
}

.partfolio-img-box {
	position: relative;
	overflow: hidden;
	width: 360px;
	height: 300px;
}

.partfolio-pictures {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translateY(0);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partfolio-pictures-img {
	width: 100%;
	height: 100%;
	display: block;
}

.portfolio-pictures-li:hover .partfolio-pictures,
.portfolio-pictures-a:focus .partfolio-pictures {
	transform: translateY(-100%);
}

.partfolio-overlay {
	position: absolute;
	box-sizing: border-box;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	padding: 40px 32px;
	background-color: #4D5AE5;
	transform: translateY(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partfolio-img-text {
	color: #F4F4FD;
}

.portfolio-pictures-li:hover .partfolio-overlay,
.portfolio-pictures-a:focus .partfolio-overlay {
	transform: translateY(0);
}


.partfolio-container-pictures {
	display: flex;
	flex-wrap: wrap;
}

.partfolio-pictures-text {
	padding: 32px 16px;
}